<div class="jumbotron">
     
        <h1>Ideal Prospects App</h1><br><br>
		<h1>Get Propects in under half the time</h1><br><br>
   	  <p>
       	<%= link_to "Sign In", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  	  </p>               
        
</div>
       
       




