<div class="container">
	<div class="page-header">
		<ul class="nav nav-pills pull-right">

			<li><%= link_to "Welcome", "/" %></li>
			<li><%= link_to "About", "/about" %></li>
			<li><%= link_to "Contact", "/contact" %></li>
		
		</ul>
		
		<h1><%= link_to 'IdealProspects','/' %><small>// Get prospects in under half the time</small></h1>
	</div>			
	
</div>
				